.item-card {
  width: 300px;
  margin-bottom: 60px;
}

.item-card > img {
  width: 100%;
  height: 250px;
}

.item-card * {
  margin: 0;
}

.item-description {
  font-style: italic;
  margin: 5px 0;
}

.item-price {
  font-weight: 600;
  font-size: 17px;
  /* text-align: end; */
}

@media screen and (max-width: 500px) {
  .item-card {
    width: 90%;
  }
}
