.main-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

.content-cont {
  width: clamp(400px, 70%, 70%);
  background-color: white;
}

.description-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 20px;
}

.description-cont p {
  width: 90%;
  text-align: center;
}

.description-cont * {
  margin: 0;
}

.buttons-cont {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.menuButtons {
  padding: 5px 10px;
  border: 1px solid green;
  color: green;
  font-weight: 600;
  font-size: 17px;
  background-color: white;
  cursor: pointer;
  transition: color ease 0.2s;
  transition: background-color ease 0.2s;
}

.menuButtons:hover {
  color: white;
  background-color: green;
}

.products-cont {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer {
  padding-left: 25px;
}

.buttonActive {
  background-color: green;
  color: white;
}
